#walpaper{
	background-color: #4aaaa5;
    padding:10px;
    padding-top:0px;
    width:960px;
}

#container{
	background-color: #4aaaa5;

	}
	
    .mmo{
        text-align: right;
                 
    }
#pic {
			
			border: 6px ridge grey;
   
   
}
.maincontain {
   border-style: solid;
   border-width: 1px;
   border-color: #ddd;
   background-color: #ffffff;
   padding: 10px 25px 20px;
}
.container{
    border-radius: 60px;
    background-color: #dddddd;
    padding: 10px;
    border-left:75px;
}@media screen and (max-width:980px){
    #container-fluid{
        width:100%;
    
    }
    @media screen and (max-width:768px){
      #pic{ width:50%;
      }  
      
}@media screen and (max-width:640px){
    #img{
        width:50%
    }
}}